@use '../abstracts' as *;

button.icon-button {
    cursor: pointer;

    width: 48px;
    height: 48px;
    margin-right: 1rem;
    margin-bottom: 1rem;

    position: relative;
    border: 0;
    border-radius:50%;

    box-shadow:
        3px 3px 5px var(--nl-theme-icon-button-shadow-shade),
        -3px -3px 5px var(--nl-theme-icon-button-light-shade);

    background: linear-gradient(
        145deg,
        var(--nl-theme-icon-button-shadow-border),
        var(--nl-theme-icon-button-light-border)
    );

    &::after {
        content: "";
        position: absolute;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background: linear-gradient(
            145deg,
            var(--nl-theme-icon-button-light),
            var(--nl-theme-icon-button-shadow),
            var(--nl-theme-icon-button-light),
        )var(--x, 0)/ 200%;

        transition: 0.04s;
    }

    i {
        position: absolute;
        z-index: 1;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
        color: var(--nl-theme-on-icon-button);
        font-size: 1.3rem;
    }

    &.simple {
        background: linear-gradient(
            145deg,
            var(--nl-theme-icon-button-light),
            var(--nl-theme-icon-button-shadow)
        );

        &::after {
            display: none;
        }
    }

    &:active {
        &::after {
            --x: 100%;
        }
    }
}