@use '../abstracts' as *;

button.icon-button {
    cursor: pointer;

    width: 48px;
    height: 48px;
    margin-right: 1rem;
    margin-bottom: 1rem;

    position: relative;
    border: 0;
    border-radius:50%;

    box-shadow:
        3px 3px 4px var(--nl-theme-button-shadow-shade),
        -3px -3px 4px var(--nl-theme-button-light-shade);

    background: linear-gradient(
        145deg,
        var(--nl-theme-button-shadow-border),
        var(--nl-theme-button-light-border)
    );

    &::after {
        content: "";
        position: absolute;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background: linear-gradient(
            145deg,
            var(--nl-theme-button-light),
            var(--nl-theme-button-shadow)
        );
    }

    i {
        position: absolute;
        z-index: 1;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
        color: var(--nl-theme-on-button);
    }

    &.simple {
        background: linear-gradient(
            145deg,
            var(--nl-theme-button-light),
            var(--nl-theme-button-shadow)
        );

        &::after {
            display: none;
        }
    }
}