@use '../abstracts' as *;

html {
    min-height: 100vh;

    background: linear-gradient(
        145deg,
        var(--nl-theme-innerpage-light),
        var(--nl-theme-innerpage-shadow)
    );

    
}

html, body {
    font-size:$root-size;
    font-family:$font-family;
}

.nl-card {
    width: 500px;
    margin-top: 50px;
    margin-left: 200px;
    color:var(--nl-theme-on-card);
    box-shadow: $z2;

    box-sizing: border-box;
    padding:$spacing16;

    position: relative;
    border-radius:$spacing24;

    background: linear-gradient(
        145deg,
        var(--nl-theme-card-light),
        var(--nl-theme-card-shadow)
    );
    //background-clip: padding-box;

    &::after {
        $border-width:-1px;

        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: $border-width;
        border-radius: calc( $spacing24 - $border-width );
        background: linear-gradient(
            145deg,
            var(--nl-theme-card-light-border),
            var(--nl-theme-card-shadow-border)
        );
    }

    // &::after {
    //     position: absolute;
    //     content: " ";
    //     z-index: -1;
    //     top: -2px;
    //     bottom: -2px;
    //     left: -2px;
    //     right: -2px;

    //     border-radius: $spacing24;
    //         background: linear-gradient(
    //         145deg,
    //         var(--nl-theme-card-light-border),
    //         var(--nl-theme-card-shadow-border)
    //     );
    // }
}

.asd {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    div {
        display: inline-block;
        width: 61px;
        height: 50px;

        &:nth-child(1) {
            background:$primary-1;
        }
        &:nth-child(2) {
            background:$primary-2;
        }
        &:nth-child(3) {
            background:$primary-3;
        }
        &:nth-child(4) {
            background:$primary-4;
        }
        &:nth-child(5) {
            background:$primary-5;
        }
        &:nth-child(6) {
            background:$primary-6;
        }
        &:nth-child(7) {
            background:$primary-7;
        }
        &:nth-child(8) {
            background:$primary-8;
        }
        &:nth-child(9) {
            background:$primary-9;
        }
        &:nth-child(10) {
            background:$primary-10;
        }
        &:nth-child(11) {
            background:$primary-11;
        }
        &:nth-child(12) {
            background:$primary-12;
        }
        &:nth-child(13) {
            background:$primary-13;
        }
        &:nth-child(14) {
            background:$primary-14;
        }
        &:nth-child(15) {
            background:$primary-15;
        }
        &:nth-child(16) {
            background:$primary-16;
        }
        &:nth-child(17) {
            background:$primary-17;
        }
        &:nth-child(18) {
            background:$primary-18;
        }
    }
}