@use '../abstracts' as *;

h1 {
    font-family:$font-family;
    font-size:$headline1--font-size;
    line-height:$headline1--line-height;
    font-weight:$headline1--font-weight;
    letter-spacing:$headline1--letter-spacing;
    text-decoration:$headline1--text-decoration;
    text-transform:$headline1--text-transform;
}

h2 {
    font-family:$font-family;
    font-size:$headline2--font-size;
    line-height:$headline2--line-height;
    font-weight:$headline2--font-weight;
    letter-spacing:$headline2--letter-spacing;
    text-decoration:$headline2--text-decoration;
    text-transform:$headline2--text-transform;
}

h3 {
    font-family:$font-family;
    font-size:$headline3--font-size;
    line-height:$headline3--line-height;
    font-weight:$headline3--font-weight;
    letter-spacing:$headline3--letter-spacing;
    text-decoration:$headline3--text-decoration;
    text-transform:$headline3--text-transform;
}

h4 {
    font-family:$font-family;
    font-size:$headline4--font-size;
    line-height:$headline4--line-height;
    font-weight:$headline4--font-weight;
    letter-spacing:$headline4--letter-spacing;
    text-decoration:$headline4--text-decoration;
    text-transform:$headline4--text-transform;
}

h5 {
    font-family:$font-family;
    font-size:$headline5--font-size;
    line-height:$headline5--line-height;
    font-weight:$headline5--font-weight;
    letter-spacing:$headline5--letter-spacing;
    text-decoration:$headline5--text-decoration;
    text-transform:$headline5--text-transform;
}

h6 {
    font-family:$font-family;
    font-size:$headline6--font-size;
    line-height:$headline6--line-height;
    font-weight:$headline6--font-weight;
    letter-spacing:$headline6--letter-spacing;
    text-decoration:$headline6--text-decoration;
    text-transform:$headline6--text-transform;
}

@each $typo-type, $typo-result in $typography {
    @if $typo-type != font-family {
        .nl-typo--#{$typo-type} {
            font-family: #{map-get($typography, font-family)};
            @each $typo-attr, $typo-value in $typo-result {
                #{$typo-attr}: #{$typo-value};
            }
        }
    }
}